@media screen and (max-width: 767px){
    .service{
    text-align: center;
    }
    .service img{
    padding-top: 20px;
    }
    .gallery img{
    margin-bottom: 10px;
    }
    .news-latter input{    
    margin: 10px;
    }
    .gallery img{
    padding-left: 60px;
    }
    .about-what img{
    margin-top: 40px;   
    }
    .service-pricing h2{
    margin-top: 20px;
    }
    .service-pricing x{
    }    
}
@media screen and (max-width: px){}