/*------------
          ----------
Name: style.css 
Version: 1.0 
Email: simox71yznath@gmail.com
Web: simox52.net
                ----------
                    ----------------*/

body{
    background-image: url(./images/background.jpg);
    font-family: cursive;
}

/* Start main */
.logo{
    width: 50px;
    height: 65px;
    border-radius: 100%;
    line-height: 70px;
    color: antiquewhite;
    background-color: red;
    margin-top: 5px;
    margin-left: 160px;
    font-size: 30px;
    text-shadow: 1px 3px 1px;
}
.header{
    text-align: center;
    color: black;
    font-size: 50px;
    font-style: oblique;
    font-variant-caps: petite-caps;
    font-weight: lighter;
    margin-bottom: 120px;
    border-bottom: 2px solid darkgoldenrod;
}
.header-2{
    text-align: center;
    color: #101010;
    font-size: 35px;
    font-style: oblique;
    font-variant-caps: petite-caps;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 40px;
    text-shadow: 5px 5px 2px;
}
/* About 01 */
.content{
    text-align: center;
    color: black;
}
.content img{
    width: 60px;
    height: 50px;
    text-decoration-color: darkgoldenrod;
}
/* Portfolio 02 */

.content-1{
    text-decoration-color: brown;
    border: 1px solid darkgoldenrod;
    box-shadow: 10px 10px 20px;
}
.content-1 h2{
    border-bottom: none;
    background-color: darkgoldenrod;
    padding-bottom: 10px;
}
/* Contact 03 */
.contactt input{
    margin-bottom: 30px;
    border: 1px solid #000;
    padding: 5px;
    text-decoration-color: #000;
    background-color: transparent;
}
.contactt textarea{
    padding-right: 315px;
    background-color: transparent;
    border: 1px solid #000;
}
.contactt button{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 210px;
    border: 1px solid #000;
    background-color: transparent;
}
/* Footer */
.foter{
    background-color: darkgoldenrod;
    padding: 10px;
    text-shadow: 1px 2px 3px;
}
.foter-icons a{
    color: #101010;
    margin: 5px;
} 
/* End main */

